.countdown {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: red;
}

.countdown div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: white;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 7rem;
  text-align: center;
  height: 8rem;
  min-width: 10rem;
}

.countdown div span {
  flex: 1;
}

.countdown div span:first-child {
  border-right: 1px solid #F0F1F3;

}

.countdown div span:last-child {
  border-left: 1px solid #F0F1F3;

}

.countdown>span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}