.countdown {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #1F96FF;

}

.countdown div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 7rem;
  text-align: center;
  height: 7rem;
  min-width: 10rem;
}

.countdown div span {
  flex: 1;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}



.countdown>span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}